/* main.css - single entry point */
@import "base/variables.css";
@import "base/global.css";

/* shared components */
@import "components/navbar.css";
@import "components/glass.css";
@import "components/animations.css";
@import "components/mobile-menu.css";
@import "components/buttons.css";
@import "components/cards.css";
@import "components/footer.css";

/* page specific (load whichever you need) */
@import "pages/home.css";
@import "pages/product-diabetic.css";
@import "pages/product-family.css";
